.aboutme-img{
    width: 100%;

}

.aboutme-container{
     position: relative; 
}

.aboutme-text-container{
    position: absolute;
    width: 50%;
    background: linear-gradient(90deg, rgb(215, 226, 226) 0%, rgb(218, 211, 211) 100%);
    top: 20%; /*250px*/
    left: 45%;  /*650px*/
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 1vw;
}

.aboutme-text-header{
    text-align: center;
    font-size: 2vw;
}

@media screen and (max-width: 960px) {
    .aboutme-text-header{
        /* font-size: 5vw; */
    }
    .aboutme-text-container{
        font-size: 1.15vw;
        top: 20%; 
        left: 45%; 
    }
}

@media screen and (max-width: 751px) {
    .aboutme-text-container{
        font-size: 1.5vw;
        top: 85%; 
        left: 0%; 
        width: 100%;
    }
    .aboutme-text-header{
         font-size: 2.5vw; 
    }
}

        